.container{
  width :100vw;
  height: 177.8vw;
  background-size: cover;
  background-image: url(http://rentservice.b0.upaiyun.com/rechargecontainer.jpg);
  display: flex;
}

.selectContainer{
  width:100vw;
  height:80vw;
  margin-top:22vh;
  display: flex;
  flex-direction: column;
}

.selectRow{
  width:100vw;
  height:40vw;
  display: flex;
  flex-direction: row;
}

.selection{
  width:50vw;
  height:40vw;
  /*background-color: red;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn{
  width: 30vw;
  height: 30vw;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:active{
  opacity: 0.6;
}

.priceTitle{
  font-size: 1.1rem;
  color:white
}

.additionTitle{
  font-size: 0.9rem;
  height:8vw;
  width:30vw;
  font-weight: 500;
  color:white;
  text-align: center;
}
