.container{
  width :100vw;
  height: 177.8vw;
  background-size: cover;
  background-image: url(http://rentservice.b0.upaiyun.com/rechargecontainer.jpg);
  display: flex;
}

.selectContainer{
  width:100vw;
  height:44vh;
  margin-top:22vh;
  display: flex;
  flex-direction: column;
}

.selectRow{
  width:100vw;
  height:22vh;
  display: flex;
  flex-direction: row;
}

.selection{
  width:50vw;
  height:22vh;
  /*background-color: red;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn{
  width: 34vw;
  height: 34vw;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:active{
  opacity: 0.6;
}

