.container{
  width:100vw;
  display: flex;
  flex-direction: column;
}

.bg{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.ball{
  width :28vw;
  height: 28vw;
  margin-bottom: 4vh;
  background-size: cover;
  background-image: url(http://rentservice.b0.upaiyun.com/ball.png);
}

.ball1{
  width :28vw;
  height: 28vw;
  margin-bottom: 4vh;
  background-size: cover;
  background-image: url(http://rentservice.b0.upaiyun.com/ball1.png);
}

.ball2{
  width :28vw;
  height: 28vw;
  margin-bottom: 4vh;
  background-size: cover;
  background-image: url(http://rentservice.b0.upaiyun.com/ball2.png);
}


.authBtnContainer{
  width:100vw;
  height:32vh;
  background-color: rgba(0,0,0,0);
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abtn1{
  width:70vw;
  height:19vw;
  background-size: cover;
}

.abtn2{
  width:40vw;
  height:11vw;
  background-size: cover;
}

.abtn1:active{
  opacity: 0.6;
}

.abtn2:active{
  opacity:0.6;
}
