.container{
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  fontSize:1rem;
  color: black;
  width: 84vw;
  margin-bottom: 30px;
}

.qrContainer{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
